In [24]:
# สร้าง Dataframe จาก Dictionry {Keys:}
import pandas as pd
products = [
    {"Name":"Keyborad","Category":"IT","Price":500},
    {"Name":"Mouse","Category":"IT","Price":300},
    {"Name":"Doll","Category":"Toy","Price":900},
    {"Name":"Apple","Category":"Fruit","Price":70},
]

In [25]:
df = pd.DataFrame(products)
df

       Name Category  Price
0  Keyborad       IT    500
1     Mouse       IT    300
2      Doll      Toy    900
3     Apple    Fruit     70

In [26]:
df.set_index(["Name"],inplace=True) # inplace คือบันทึกข้อมูลทับลงไปใน Dataframe (set index) 
df

         Category  Price
Name
Keyborad       IT    500
Mouse          IT    300
Doll          Toy    900
Apple       Fruit     70