In [3]:
# ชนิดข้อมูลและค่าทางสถิติ
import pandas as pd
df = pd.read_excel("dataupdate.xlsx","score")
df.set_index(["Name"],inplace=True)
df

           Score  Age Gender Grade
Name
อาทิตย์       90   20    ชาย     A
นิตยา         75   18   หญิง     B
โจโจ้         88   22    ชาย     A
แก้มใส        65   19   หญิง     C
ตั๊กแตน       82   23   หญิง     A
เก๋ไก๋        50   20   หญิง     D
วุฒิชัย       45   17    ชาย     F
ชัยสิทธิ์     62   18    ชาย     C
ธนาวุฒิ       95   19    ชาย     A

In [6]:
df.Score #คะแนนทั้งหมด

Name
อาทิตย์      90
นิตยา        75
โจโจ้        88
แก้มใส       65
ตั๊กแตน      82
เก๋ไก๋       50
วุฒิชัย      45
ชัยสิทธิ์    62
ธนาวุฒิ      95
Name: Score, dtype: int64

In [7]:
df.Score.max() #คะแนนสูงสุด

95

In [8]:
df.Score.min() #คะแนนต่ำสุด

45

In [9]:
df.Score.mean() #ค่าเฉลี่ย

72.44444444444444

In [10]:
df.Score.std() #ส่วนเบี่ยงเบนมาตรฐาน

17.95209675157133

In [11]:
df.Score.count() #นับจำนวนข้อมูลทั้งหมด

9

In [13]:
df.Score.sum() #ผลรวมข้อมูล

652

In [14]:
df.Score.sum()/df.Score.count() #mean

72.44444444444444

In [15]:
df.dtypes #บอกชนิดข้อมูลแต่ละคอลัมน์

Score      int64
Age        int64
Gender    object
Grade     object
dtype: object

In [16]:
df.Grade=df.Grade.astype('category') #เปลี่ยนชนิดข้อมูล

In [17]:
df.dtypes

Score        int64
Age          int64
Gender      object
Grade     category
dtype: object