In [9]:
# การสร้าง Dataframe จาก List หลายมิติ
import pandas as pd
datas = [["keyborad","IT",4000],["doll","Toy",500],["moune","IT",300],["Iphone","Mobile",40000]]

In [10]:
cols = ["Product Name","Type","Price"]
df = pd.DataFrame(datas,columns=cols)

In [11]:
df

  Product Name    Type  Price
0     keyborad      IT   4000
1         doll     Toy    500
2        moune      IT    300
3       Iphone  Mobile  40000