In [1]:
# สร้าง Dataframe จาก List and Tuple
import pandas as pd
datas = [10,20,30,40,50] #List

In [9]:
df = pd.DataFrame(datas)
df

    0
0  10
1  20
2  30
3  40
4  50

In [10]:
datas_tp=(59,60,25,32) #Tuple

In [15]:
cols = ["Age"] # ระบุหัวตาราง ต้องระบุเป็นList
df=pd.DataFrame(datas_tp,columns=cols)
df

   Age
0   59
1   60
2   25
3   32