In [1]:
# สร้าง Dataframe จาก Series
import pandas as pd

# product data
name = ["Keyborad","Mouse","Doll"]
category = ["IT","IT","Toy"]
Price = [500,300,900]

In [15]:
#Series
name_serie =pd.Series(name)
category_serie = pd.Series(category)
price_serie = pd.Series(Price)
name_serie

0    Keyborad
1       Mouse
2        Doll
dtype: object

In [14]:
category_serie

0     IT
1     IT
2    Toy
dtype: object

In [13]:
price_serie

0    500
1    300
2    900
dtype: int64

In [8]:
frame = {"Product Name":name_serie,"Category":category_serie,"Price":price_serie} # นำ Series มาระบุเป็น Dictionary
frame

{'Product Name': 0    Keyborad
 1       Mouse
 2        Doll
 dtype: object,
 'Category': 0     IT
 1     IT
 2    Toy
 dtype: object,
 'Price': 0    500
 1    300
 2    900
 dtype: int64}

In [4]:
df = pd.DataFrame(frame) # สร้าง Dataframe จาก Dictionary

In [5]:
df

  Product Name Category  Price
0     Keyborad       IT    500
1        Mouse       IT    300
2         Doll      Toy    900

In [6]:
df.set_index(["Product Name"],inplace=True)

In [7]:
df

             Category  Price
Product Name
Keyborad           IT    500
Mouse              IT    300
Doll              Toy    900