In [10]:
# Dataframe ส่งออกเอกสาร CSV 
# Dataframe.to_csv(ตำแหน่งไฟล์,attribute)
import pandas as pd

# product data
name = ["Keyborad","Mouse","Doll"]
category = ["IT","IT","Toy"]
Price = [500,300,900]

#Series
name_serie =pd.Series(name)
category_serie = pd.Series(category)
price_serie = pd.Series(Price)
name_serie

frame = {"Product Name":name_serie,"Category":category_serie,"Price":price_serie} # นำ Series มาระบุเป็น Dictionary

In [11]:
df = pd.DataFrame(frame) # สร้าง Dataframe จาก Dictionary 
df

  Product Name Category  Price
0     Keyborad       IT    500
1        Mouse       IT    300
2         Doll      Toy    900

In [12]:
df.to_csv("products1.csv") # ค่าเริ่มต้น header=True,index=True

In [15]:
df.to_csv("products2.csv",header=True,index=False)

In [17]:
df.to_csv("products3.csv",header=False,index=True)

In [18]:
df.to_csv("products4.csv",header=False,index=False)