In [1]:
# อ่านเอกสาร CSV
import pandas as pd
df = pd.read_csv("products1.csv",encoding="utf-8")

In [2]:
df

   Unnamed: 0 Product Name Category  Price
0           0     Keyborad       IT    500
1           1        Mouse       IT    300
2           2         Doll      Toy    900

In [3]:
# อ่านเอกสาร CSV บางคอลัมน์
cols=["Product Name","Price"]
df = pd.read_csv("products1.csv",encoding="utf-8",usecols=cols)

In [4]:
df

  Product Name  Price
0     Keyborad    500
1        Mouse    300
2         Doll    900

In [6]:
# เอาคอลัมน์ที่เลือกมากำหนดเป็น index
df = pd.read_csv("products1.csv",encoding="utf-8",usecols=cols,index_col="Product Name") 
df

              Price
Product Name
Keyborad        500
Mouse           300
Doll            900

In [7]:
# อ่านเอกสาร CSV (การกำหนด Header) จะใช้กับไฟล์ที่ไม่มีการกำหนดชื่อคอลัมน์
colsName =["Name","Category","Price"] # กำหนดหัวตาราง
df = pd.read_csv("products3.csv",encoding="utf-8") 
df

   0 Keyborad   IT  500
0  1    Mouse   IT  300
1  2     Doll  Toy  900

In [9]:
df = pd.read_csv("products3.csv",encoding="utf-8",names=colsName) 
df

       Name Category  Price
0  Keyborad       IT    500
1     Mouse       IT    300
2      Doll      Toy    900

In [10]:
df = pd.read_csv("products1.csv",encoding="utf-8",names=colsName)
df

             Name  Category  Price
NaN  Product Name  Category  Price
0.0      Keyborad        IT    500
1.0         Mouse        IT    300
2.0          Doll       Toy    900