In [11]:
#การเพิ่มข้อมูล/การเพิ่มแถว
import pandas as pd
df = pd.read_excel("Stock.xlsx")
df.set_index(["Name"],inplace=True)
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0

In [12]:
products =[
    ["หูฟัง","อุปกรณ์คอม",400,20,500],
    ["สายชาร์จ","อุปกรณ์คอม",1400,20,1500]
]
cols=["Name","Group","Cost","Quantity","Summation"]
newdf=pd.DataFrame(data=products,columns=cols)
newdf

       Name       Group  Cost  Quantity  Summation
0     หูฟัง  อุปกรณ์คอม   400        20        500
1  สายชาร์จ  อุปกรณ์คอม  1400        20       1500

In [13]:
newdf.set_index(["Name"],inplace=True)
newdf

               Group  Cost  Quantity  Summation
Name
หูฟัง     อุปกรณ์คอม   400        20        500
สายชาร์จ  อุปกรณ์คอม  1400        20       1500

In [14]:
df=df.append(newdf) #เอาข้อมูลเดิมไปต่อกับข้อมูลก้อนใหม่
df

C:\Users\mtl91475\AppData\Local\Temp\ipykernel_3960\2706860170.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(newdf) #เอาข้อมูลเดิมไปต่อกับข้อมูลก้อนใหม่

,Category,Price,Amount,Group,Cost,Quantity,Summation
Name,,,,,,,
เมาส์,อุปกรณ์คอมพิวเตอร์,900.0,10.0,NaN,NaN,NaN,NaN
ปากกา,อุปกรณ์การเรียน,200.0,5.0,NaN,NaN,NaN,NaN
โคมไฟ,เครื่องใช้ในบ้าน,1200.0,7.0,NaN,NaN,NaN,NaN
ไมโครโฟน,เครื่องใช้ไฟฟ้า,750.0,1.0,NaN,NaN,NaN,NaN
เครื่องซักผ้า,เครื่องใช้ไฟฟ้า,3500.0,0.0,NaN,NaN,NaN,NaN
เสื้อยืดคอกลม,เสื้อผ้า,500.0,2.0,NaN,NaN,NaN,NaN
กางเกงยีนต์,เสื้อผ้า,999.0,8.0,NaN,NaN,NaN,NaN
ตุ๊กตาหมีพูห์,ของเล่น,950.0,5.0,NaN,NaN,NaN,NaN
โซฟา,เฟอร์นิเจอร์,5000.0,5.0,NaN,NaN,NaN,NaN
จาน,เครื่องครัว,250.0,4.0,NaN,NaN,NaN,NaN
ทีวี,เครื่องใช้ไฟฟ้า,15000.0,7.0,NaN,NaN,NaN,NaN
ยางลบ,อุปกรณ์การเรียน,20.0,5.0,NaN,NaN,NaN,NaN
External HardDisk,อุปกรณ์คอมพิวเตอร์,2500.0,7.0,NaN,NaN,NaN,NaN
คีย์บอร์ด,อุปกรณ์คอมพิวเตอร์,850.0,5.0,NaN,NaN,NaN,NaN
รถบังคับ,ของเล่น,500.0,6.0,NaN,NaN,NaN,NaN
หูฟัง,NaN,NaN,NaN,อุปกรณ์คอม,400.0,20.0,500.0
สายชาร์จ,NaN,NaN,NaN,อุปกรณ์คอม,1400.0,20.0,1500.0