In [34]:
#ลบแถวด้วย Index
import pandas as pd
df = pd.read_excel("Stock.xlsx")
#df.set_index(["Name"],inplace=True)
df

                 Name            Category    Price  Amount
0               เมาส์  อุปกรณ์คอมพิวเตอร์    900.0    10.0
1               ปากกา     อุปกรณ์การเรียน    200.0     5.0
2               โคมไฟ    เครื่องใช้ในบ้าน   1200.0     7.0
3            ไมโครโฟน     เครื่องใช้ไฟฟ้า    750.0     1.0
4       เครื่องซักผ้า     เครื่องใช้ไฟฟ้า   3500.0     0.0
5       เสื้อยืดคอกลม            เสื้อผ้า    500.0     2.0
6         กางเกงยีนต์            เสื้อผ้า    999.0     8.0
7       ตุ๊กตาหมีพูห์             ของเล่น    950.0     5.0
8                โซฟา        เฟอร์นิเจอร์   5000.0     5.0
9                 จาน         เครื่องครัว    250.0     4.0
10               ทีวี     เครื่องใช้ไฟฟ้า  15000.0     7.0
11              ยางลบ     อุปกรณ์การเรียน     20.0     5.0
12  External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
13          คีย์บอร์ด  อุปกรณ์คอมพิวเตอร์    850.0     5.0
14           รถบังคับ             ของเล่น    500.0     6.0

In [35]:
#ลบแบบแถวเดียว
rows = 9
df.drop(rows,axis=0,inplace=True) #axis0 คือ แถว
df

                 Name            Category    Price  Amount
0               เมาส์  อุปกรณ์คอมพิวเตอร์    900.0    10.0
1               ปากกา     อุปกรณ์การเรียน    200.0     5.0
2               โคมไฟ    เครื่องใช้ในบ้าน   1200.0     7.0
3            ไมโครโฟน     เครื่องใช้ไฟฟ้า    750.0     1.0
4       เครื่องซักผ้า     เครื่องใช้ไฟฟ้า   3500.0     0.0
5       เสื้อยืดคอกลม            เสื้อผ้า    500.0     2.0
6         กางเกงยีนต์            เสื้อผ้า    999.0     8.0
7       ตุ๊กตาหมีพูห์             ของเล่น    950.0     5.0
8                โซฟา        เฟอร์นิเจอร์   5000.0     5.0
10               ทีวี     เครื่องใช้ไฟฟ้า  15000.0     7.0
11              ยางลบ     อุปกรณ์การเรียน     20.0     5.0
12  External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
13          คีย์บอร์ด  อุปกรณ์คอมพิวเตอร์    850.0     5.0
14           รถบังคับ             ของเล่น    500.0     6.0

In [36]:
#ลบแบบหลายแถว
rows=[0,3,10]
df.drop(rows,axis=0,inplace=True)
df

                 Name            Category   Price  Amount
1               ปากกา     อุปกรณ์การเรียน   200.0     5.0
2               โคมไฟ    เครื่องใช้ในบ้าน  1200.0     7.0
4       เครื่องซักผ้า     เครื่องใช้ไฟฟ้า  3500.0     0.0
5       เสื้อยืดคอกลม            เสื้อผ้า   500.0     2.0
6         กางเกงยีนต์            เสื้อผ้า   999.0     8.0
7       ตุ๊กตาหมีพูห์             ของเล่น   950.0     5.0
8                โซฟา        เฟอร์นิเจอร์  5000.0     5.0
11              ยางลบ     อุปกรณ์การเรียน    20.0     5.0
12  External HardDisk  อุปกรณ์คอมพิวเตอร์  2500.0     7.0
13          คีย์บอร์ด  อุปกรณ์คอมพิวเตอร์   850.0     5.0
14           รถบังคับ             ของเล่น   500.0     6.0

In [42]:
#ลบแถวด้วย Keys
df = pd.read_excel("Stock.xlsx")
df.set_index(["Name"],inplace=True)
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ปากกา                 อุปกรณ์การเรียน    200.0     5.0
โคมไฟ                เครื่องใช้ในบ้าน   1200.0     7.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
ยางลบ                 อุปกรณ์การเรียน     20.0     5.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
คีย์บอร์ด          อุปกรณ์คอมพิวเตอร์    850.0     5.0
รถบังคับ                      ของเล่น    500.0     6.0

In [43]:
row=["ปากกา","โคมไฟ","ยางลบ","คีย์บอร์ด"]
df.drop(row,axis=0,inplace=True)
df

                             Category    Price  Amount
Name
เมาส์              อุปกรณ์คอมพิวเตอร์    900.0    10.0
ไมโครโฟน              เครื่องใช้ไฟฟ้า    750.0     1.0
เครื่องซักผ้า         เครื่องใช้ไฟฟ้า   3500.0     0.0
เสื้อยืดคอกลม                เสื้อผ้า    500.0     2.0
กางเกงยีนต์                  เสื้อผ้า    999.0     8.0
ตุ๊กตาหมีพูห์                 ของเล่น    950.0     5.0
โซฟา                     เฟอร์นิเจอร์   5000.0     5.0
จาน                       เครื่องครัว    250.0     4.0
ทีวี                  เครื่องใช้ไฟฟ้า  15000.0     7.0
External HardDisk  อุปกรณ์คอมพิวเตอร์   2500.0     7.0
รถบังคับ                      ของเล่น    500.0     6.0